<div class="login-register">
  <div class="form-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input type="email"
               autocomplete="off"
               matInput
               formControlName="email"
               placeholder="email"
               required
               class="asterisk-input">
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('emailTaken')">
          Email is already taken
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('pattern') && !registerForm.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="password"
               autocomplete="off"
               matInput
               required
               formControlName="password">
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('minlength') && !registerForm.get('password').hasError('required')">
          Password must have minimum 8 and maximum 256 characters
        </mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('maxlength') && !registerForm.get('password').hasError('required')">
          Password must have minimum 8 and maximum 256 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input type="password"
               autocomplete="off"
               matInput
               required
               [errorStateMatcher]="matcher"
               formControlName="confirmPassword">
        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
          Confirm password is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('mustMatch') && !registerForm.get('confirmPassword').hasError('required')">
          Passwords don't match
        </mat-error>
      </mat-form-field>
      <button class="btn btn-action"
               [class.disabled]="!registerForm.valid" [disabled]="!registerForm.valid">Sign Up</button>
      <p class="cta">Already have an account? <span routerLink="/auth/login">Sign in</span></p>
    </form>
  </div>
</div>

