.rating {
  position: absolute;
  color: var(--clr-white);
  border-radius: 50%;
  padding: .4em;
  background: rgba(0,0,0,.7);
}

.green {
  border: 3px solid rgba(27,158,27,.6);
}

.orange {
  border: 3px solid rgba(190,127,17,.6);
}

.red {
  border: 3px solid rgba(202,13,13,.6);
}

.grey {
  border: 3px solid var(--clr-grey);
}

@media screen and (max-width: 660px) {
  .rating {
    font-size: 1.2rem !important;
  }
}
