.cast-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(7, 1fr);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  color: var(--clr-white);
}

.person {
  text-align: center;
  margin-bottom: .8rem;
  color: var(--clr-white);
}

.name {
  font-size: 1rem;
  margin-bottom: .3rem;
}

.character {
  font-size: .8rem;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--clr-red);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--clr-red);
}

@media screen and (max-width: 1260px) {
  .cast-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}


@media screen and (max-width: 1000px) {
  .cast-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 840px) {
  .cast-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .cast-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .cast-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
